<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!--Every five minutes between 08.00-18.00 every weekday-->
    <add key="GetNewOrProdsattIssuesCronSchedule" value="0 */5 8-18 ? * 2,3,4,5,6" />
    <!--Debug code-->
    <!--<add key="GetNewOrProdsattIssuesCronSchedule" value="0 * 8-23 * * ?" />--> 

    <!-- 11.00 every weekday -->
    <add key="GetIssuesInProgressCronSchedule" value="0 0 11 ? * 2,3,4,5,6" />
    <!--Debug code-->
    <!--<add key="GetIssuesInProgressCronSchedule" value="0 * 8-23 * * ?" />-->

    <add key="WipLimit" value="6" />
    <add key="ExcludedUsers" value="Lars Utterström, Johan Lindh, Gustav Eklånge Springare" />
  </appSettings>

  <connectionStrings>
    <add name="bodb" connectionString="Data Source=singsing-fw2,14001;Initial Catalog=adlibris;user id=testadmin;password=testadmin"/>
  </connectionStrings>
</configuration>