<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="SlackHook" value="T0258QZP1/B48QVT0UT/1K8sc5CHznosN7IsfUSd98S5" />
    <add key="AdlisHost" value="http://adlis/" />
    <add key="AdlisApiKey" value="90074bcbfc21bdde1658901e05ca5278d9461723" />

    <!--Every five minutes-->
    <add key="GetNewOrProdsattIssuesCronSchedule" value="0 */5 8-17 * * ?" /> 
    
    <!--Debug code-->
    <!--<add key="GetNewOrProdsattIssuesCronSchedule" value="0 * 8-23 * * ?" /> -->

    <!-- 9.00 and 11.00 every weekday -->
    <add key="GetDailyBusinessIssuesInProgressCronSchedule" value="0 0 9,11 ? * 2,3,4,5,6" />
    
    <!--Debug code-->
    <!--<add key="GetDailyBusinessIssuesInProgressCronSchedule" value="0 * 8-23 * * ?" />-->
  </appSettings>
</configuration>